# Caddyfile for IP-based HTTPS (Self-Signed / Internal)

# Global options
{
    # Global options
    email digga9286@gmail.com
}

# Site block for the IP address
api.resellerbot.de {
    reverse_proxy ps5-bot-backend:8000
    
    tls {
        issuer zerossl
    }
}
