fastapi==0.128.0
uvicorn==0.40.0
python-dotenv==1.2.1
supabase==2.27.0
camoufox==0.4.11
playwright==1.56.0
groq==1.0.0
beautifulsoup4==4.14.3
requests==2.32.5
jinja2==3.1.6
websockets==15.0.1
pydantic==2.12.5
pydantic-settings==2.8.0
httpx==0.28.1
git+https://github.com/openai/whisper.git@c0d2f624c09dc18e709e37c2ad90c039a4eb72a2
